annotated-types==0.7.0
geographiclib==2.0
geopy==2.4.1
langid==1.1.6
markdownify==0.11.6
mkl-service==2.4.0
numpy==1.24.2
protobuf==3.20.3
pydantic==2.8.2
pydantic_core==2.20.1
pyspark==3.5.0
python-jobspy==1.1.57
regex==2024.5.15
requests==2.31.0
tls-client==1.0.1
webencodings==0.5.1
pyarrow==14.0.2
geopy==2.4.1
streamlit==1.42.0
streamlit-dynamic-filters==0.1.9
